langchain
langchain-core~=0.3.80
langchain-openai~=0.3.35
langgraph~=0.6.11

streamlit
python-dotenv~=1.2.1

neo4j~=5.28.2
requests~=2.32.5

numpy~=1.26.4
scikit-image~=0.24.0
torch~=2.8.0+cu126
torchvision~=0.23.0+cu126

Pillow
segment-anything~=1.0
dashscope
SimpleITK
